@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
* {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

h1 {
    color: antiquewhite;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847__340.jpg);
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-35) translateY(-50%);
}

h1 {
    line-height: 1.5;
}

#txt {
    font-family: 'Courier New', Courier, monospace;
}